input[type="range"] {
  margin: 0;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 18px;
  width: 200px;
  cursor: pointer;
  border-radius: 0; /* iOS */
  display: block;
  mix-blend-mode: overlay;
  /* transform: rotate(-90deg); */
}

::-webkit-slider-runnable-track {
  background: #aaa;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px; /* 1 */
  height: 18px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw #444;
  border: 1px solid #fff; /* 1 */
}

::-moz-range-track {
  height: 18px;
  background: #aaa;
}

::-moz-range-thumb {
  background: #fff;
  height: 18px;
  width: 2px;
  border: 1px solid #fff;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw #444;
  box-sizing: border-box;
}

::-ms-fill-lower {
  background: #444;
}

::-ms-thumb {
  background: #fff;
  border: 2px solid #fff;
  height: 18px;
  width: 2px;
  box-sizing: border-box;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-track {
  background: #aaa;
  color: transparent;
  height: 18px;
  border: none;
}

::-ms-tooltip {
  display: none;
}
