html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background: #999;
}

main {
  min-width: 650px;
  margin: 0 auto;
  border-radius: 3px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.info {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  opacity: 0.8;
  z-index: 3;
}

.info:hover {
  opacity: 1;
}

.info a {
  color: #eee;
}

#play-button {
  height: 40px;
}

#controls {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  height: 100vh;
}

.controls-text {
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
  text-align: right;
  width: 350px;
  padding: 5px 10px;
  font-size: 0.8em;
  color: #eee;
}
.osc {
  flex-grow: 1;
  padding: 5px;
  /* border: 5px solid #222; */
  position: relative;
}

#notes {
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 80px;
  color: white;
}

.controls-text button.isActive {
  background: #222;
  color: white;
}

.controls-text button {
  cursor: pointer;
  margin: 0;
  background: white;
  border: 1px solid #222;
}

.fx {
  /* flex-grow: 1; */
  padding: 5px;
  padding-top: 30px;
  position: relative;
  background: #666;
}

.slider-wrapper {
  position: relative;
}

.select-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 3px;
}

.osc h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1em;
  color: #222;
  mix-blend-mode: overlay;
  position: absolute;
  top: 5px;
  left: 5px;
}

label {
  color: white;
  opacity: 0.9;
  font-size: 0.8em;
  pointer-events: none;
}

.slider-wrapper label {
  position: absolute;
  top: 1px;
  left: 5px;
}

main {
  display: flex;
}

/*  ===================================  */

.select-wrapper label {
  flex-grow: 1;
  text-align: right;
  padding-right: 5px;
  position: relative;
  top: 1px;
}

.select-wrapper select {
  /* width: 100px; */
  padding: 0;
  padding-left: 5px;
  height: 22px;
  border-radius: 2px;
  /* box-shadow: 2px 2px 8px #999; */
  background: white;
  mix-blend-mode: overlay;
  color: #222;
  padding-right: 20px;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-family: "Roboto Mono";
  font-size: 12px;
  text-transform: capitalize;
}
.select-wrapper {
  position: relative;
}
.select-wrapper:after {
  content: ">";
  font-family: "Roboto Mono";
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  mix-blend-mode: multiply;

  transform: rotate(90deg);
  right: 3px;
  top: 1px;
  height: "100%";
  padding: 0;
  /* border-bottom: 1px solid #ddd; */
  position: absolute;
  pointer-events: none;
}
.select-wrapper:before {
  content: "";
  right: 0;
  top: 0;
  width: 18px;
  height: 100%;
  mix-blend-mode: overlay;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  pointer-events: none;
  display: block;
}
